[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"

[packages]
pyjwt = "*"
djangorestframework = "*"
django = "*"
psycopg2-binary = "*"
django-heroku = "*"

[requires]
python_version = "3.7"
